In [1]:
def fun():
    print("Function called")

print("Before calling fun()")
fun()
print("After calling fun()")

Before calling fun()
Function called
After calling fun()

In [3]:
def printDate(d, m, y):
    print(d, m, y, sep = "-")
print("India became independent on: ")
printDate("15","08","1947")

India became independent on:
15-08-1947

In [4]:
def getDate(d, m, y):
    return d + "-" + m + "-" + y

print("India became independent on: ")
d = getDate("15","08","1947")
print(d)

India became independent on:
15-08-1947

In [8]:
## Default Arguments

def printDetails(id, name = "NA", price = "NA"):
    print(f"ID is {id}")
    print(f"Name is {name}")
    print(f"Price is {price}")

printDetails(101, "abc", "100")
print()
printDetails(111, " ", 100)
print()
printDetails(102)
print()
printDetails(102, 100)

ID is 101
Name is abc
Price is 100

ID is 111
Name is
Price is 100

ID is 102
Name is NA
Price is NA

ID is 102
Name is 100
Price is NA

In [9]:
# Keyword arguments

def printDetails(id, name="NA", price="NA"):
    print(f"ID is {id}")
    print(f"Name is {name}")
    print(f"Price is {price}")

printDetails(101, "abc", 100) # positional arguments
print()
printDetails(id = 102, price = 200, name = "Alice") # keyword arguments

ID is 101
Name is abc
Price is 100

ID is 102
Name is Alice
Price is 200

In [10]:
# args and kwargs

def sum(*nums):
    res = 0
    for x in nums:
        res = res + x
    return res

print(sum(10,20,30,40,50))
print(sum(10,20))
print(sum(50,60,100))
print(sum())

150
30
210
0

In [14]:
def sum(init_sum, *nums):
    res = init_sum
    for i in nums:
        res = res + i
    return res

print(sum(10,20,30,40,50))
print(sum(10,20))
print(sum(50,60,20))

150
30
130

In [16]:
def printDetails(**details):
    for d, v in details.items():
        print(f"{d} is {v}")

printDetails(id = 101, name = "Alice", price = 100)
print()
printDetails(id = 101, name = "ALice")

id is 101
name is Alice
price is 100

id is 101
name is ALice

In [18]:
def multiply(x, y):
    sum = x + y
    mult = x * y
    sub = y - x
    return sum, mult, sub

s, m, sub = multiply(15,35)
print(s)
print(m)
print(sub)

50
525
20