Basic Math Operations

In [1]:
2+1

3

In [4]:
6-3

3

In [2]:
7/4

1.75

Modulo Operator or Mod Operator

In [5]:
50%5

0

In [6]:
7/4

1.75

In [7]:
7%4

3

In [8]:
23/2

11.5

In [9]:
23%2

1

Power operator **

In [10]:
2 ** 3

8

In [11]:
5 ** 2

25

In [12]:
#Write an expression that equals 100

(12 + 8) * 2 + (30*2)

100

Variable Assignments


Note : Python uses dynamic typic meaning we can reassign variables with different value for example 

my_dogs = 2 can be reassigned to my_dog =  "Sammy" and it is normal in python but we have to make sure of the type and may result in bugs specially in the large codebase

In [13]:
my_dogs = 2

In [14]:
type (my_dogs)

int

In [15]:
my_dogs = "sammy"

In [16]:
type(my_dogs)

str

In [17]:
a = 5

In [18]:
a

5

In [19]:
a + a

10

In [20]:
a = a + a

In [21]:
a

10

In [27]:
a = a + a

In [28]:
a

160

In [29]:
type (a)

int

In [33]:
my_income = 10000
tax_rate = 0.2
my_taxes = my_income * tax_rate
my_taxes

2000.0

Strings in python 

They can be used with ' ' and " "

In [34]:
#Example 1

my_string = 'Hello my name is Rishabh'

In [35]:
my_string

'Hello my name is Rishabh'

In [37]:
#When to use " " 

my_string = 'Hello my name's Rishabh'

SyntaxError: unterminated string literal (detected at line 3) (1111596881.py, line 3)

In [38]:
# In the above example when the string encounters the second ' it stops hence when we have 's in our statements, we should use " "
my_string = "Hello my name's Rishabh"

In [39]:
my_string

"Hello my name's Rishabh"

Strings are ordered sequences and we can use indexing and slicing to grab subsections of the string. 

Indexing notation uses [] after the string

It allows us to grab a single character from the string.

character     : h  e  l  l  o 
Index         : 0  1  2  3  4
Reverse Index : 0 -4 -3 -2 -1


Slicing allows us to grab a subsection of multiple characters. Syntax : [start:stop:step]
Note : stop does not include the part or index value where we stopped

In [40]:
'hello'

'hello'

In [41]:
"Welcome to Python 101"

'Welcome to Python 101'

In [42]:
string = "Welcome to Python 101"

In [43]:
string[1:]

'elcome to Python 101'

In [44]:
string[0:7]

'Welcome'

In [45]:
string[0:15:2]

'Wloet yh'

In [46]:
reverse_string = string[::-1]

In [47]:
reverse_string

'101 nohtyP ot emocleW'

In [48]:
print(reverse_string)

101 nohtyP ot emocleW

In [49]:
print(reverse_string[::-1])

Welcome to Python 101

In [52]:
print("Hello \nMy name is Rishabh")
print("Hello \tMy name is Rishabh")

Hello
My name is Rishabh
Hello 	My name is Rishabh

In [53]:
len(string)

21

In [54]:
my_string[-1] #to grab the last character of the string

'h'

In [55]:
my_string[1:3]

'el'